@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')
	;

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.img-agenda {
	max-width: 500px;
}

h1 {
	color: #00B9CA;
}

.botao {
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border: 0;
	cursor: pointer;
}

.btn-primario {
	background-color: #00B9CA;
}

.btn-secundario {
	background-color: #77767b;
}

.btn-vermelho {
	background-color: #d51213;
}

.btn-primario:hover {
	background-color: #286d7b;
}

.btn-secundario:hover {
	background-color: #3d3846;
}

.btn-vermelho:hover {
	background-color: #a51d2d;
}

.caixa {
	min-width: 320px;
	height: 25px;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #00B9CA;
	border-radius: 5px;
}

.caixa-fone, .caixa-codigo {
	min-width: 185px;
}

.caixa-codigo {
	border: 1px solid #ff0000;
}

@media ( max-width : 990px) {
	.caixa, .caixa-fone, .botao, .tabela {
		width: 100%;
	}
}

.cabecalho {
	margin-bottom: 30px;
}

.cabecalho hr {
	margin-top: 20px;
}

.form td {
	display: flex;
	flex-direction: column;
}